<section>
    <div class="article">
        <header>
            <h1><a ng-href="#">{{data.title}}</a></h1>
            <div>
                <a ng-href="#" class="articleCategory">{{data.category}}</a>
                &nbsp;|&nbsp;
                <div class="articleDate">{{data.date}}</div>
            </div>
        </header>
        <div class="articleContent">
            <p class="articleContentText">
                {{data.content}}
            </p>
            <p>
                <a href="#" class="articleContentMore">Read More</a>
            </p>
        </div>
    </div>
</section>